/* Estilos para el contenedor principal */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilos para las divisiones */
.division-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

/* Estilos para las etiquetas */
label {
  display: block;
  margin-bottom: 5px;
}

/* Estilos para los campos de entrada */
input[type="text"],
input[type="date"],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Estilos para el botón */
button {
  padding: 10px 20px;
  background-color: #14491b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #475f27;
}

/* Estilos para los campos de entrada de número y select */
.numero-fecha-container {
  display: flex;
}

.numero-inputs,
.fecha-inputs {
  flex: 1;
  margin-right: 10px;
}

.numero-inputs label,
.fecha-inputs label {
  display: block;
}

/* Estilos para los campos de entrada de número */
.numero-input {
  display: flex;
}

.numero-input input[type="text"] {
  margin-right: 10px;
}

/* Estilos para los campos de entrada de fecha */
.fecha-container {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.fecha-container label {
  display: block;
}

.fecha-container select {
  width: calc(100% - 10px);
  border: none;
  outline: none;
}

/* Estilos para los contenedores de entrada */
.input-container {
  display: flex;
  align-items: center;
}

.input-container label {
  width: 150px; /* Ancho fijo para las etiquetas */
  margin-right: 10px;
}

.input-container select,
.input-container input {
  flex: 1;
}

/* --- Nuevo estilo para el checkbox a la par del label --- */
.checkbox-line-container {
    display: flex; /* Habilita el flexbox */
    align-items: center; /* Centra verticalmente los elementos */
    gap: 10px; /* Espacio entre el label y el checkbox */
    padding: 5px 0; /* Espacio interno vertical */
}

.checkbox-line-container label {
    /* Sobrescribe el display: block forzado por otros estilos */
    display: inline-block; 
    margin-bottom: 0; /* Elimina el margen inferior */
    flex-grow: 1; /* Permite que el label ocupe el espacio antes del checkbox */
}

/* --- Estilo para aumentar el tamaño del checkbox --- */
.checkbox-line-container input[type="checkbox"] {
    /* Sobrescribe los estilos genéricos para input que pusiste */
    width: 20px !important; /* Ajusta el ancho */
    height: 20px !important; /* Ajusta la altura */
    min-width: 20px; /* Asegura que no se haga más pequeño */
    margin: 0; /* Elimina cualquier margen residual */
}